<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{/assets/bootstrap/css/bootstrap.min.css | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="{{/assets/css/custom.css | relative_url }}">
    <link rel="stylesheet" href="{{/assets/css/custom.compiled.css | relative_url }}">
    <link rel="stylesheet" href="{{/assets/css/styles.css | relative_url }}">
</head>

<body class="pt-5 pt-md-0">
    {% include nav.html %}
    <div class="container-fluid">
        <div class="row">
            {% include sidebar.html %}
            