---
---

body, html {
    font-family: 'Open Sans', sans-serif;
}
  
.btn:hover {
    text-decoration: none;
}

.card {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
    box-shadow: 0px 3px 6px 0px rgba(227,227,227,1);
}

.game-card-container img {
    height:150px;
    object-fit: cover;
}


.game-card-container  .card-img-container {
    height: 0px;
    padding-top: 62.5%;
    position: relative;
    overflow: hidden;
    .card-img-top {
        height: 100%;
        widows: 100%;
        object-fit: cover;
        top:0;
        position: absolute;
    }
}
  