---
title: Reis Mahnic - Video Games and Software Development
---

{% include head.html %}
<div class="col py-5 px-5" id="main-content">
    <div class="row" id="game-projects">
        <div class="col-12">
            <h2 class="d-inline-block section-heading mb-4 serif"><em>Game Projects</em></h2>
        </div>
    </div>
    <div class="row mb-5 ">
        {% assign games = site.games | sort: 'order' %}
        {% for game in games %}
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <a href="{{ game.url | relative_url }}" class="game-card-container h-100">
                    <div class="card rounded-0 h-100">
                        <div class="card-img-container">
                            <img class="card-img-top w-100 d-block" src="{{ game.header_image }}">
                        </div>
                        
                        <div class="card-body text-center d-flex flex-column justify-content-center">
                            <h4 class="card-title">{{ game.title }}</h4>
                            <h5 class="card-title"><em>{{ game.release_date }}</em></h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="software-development-projects">
        <div class="col-12">
            <h2 class="d-inline-block section-heading mb-4 serif"><em>Software Projects</em></h2>
        </div>
    </div>
    <div class="row mb-5">
        {% assign software = site.software | sort: 'order' %}
        {% for project in software %}
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <a href="{{ project.url | relative_url }}" class="game-card-container">
                    <div class="card rounded-0 h-100">
                        <div class="card-img-container">
                            <img class="card-img-top w-100 d-block" src="{{ project.header_image }}">
                        </div>
                        
                        <div class="card-body text-center d-flex flex-column justify-content-center">
                            <h4 class="card-title">{{ project.title }}</h4>
                            <h5 class="card-title"><em>{{ project.release_date }}</em></h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row" id="about">
        <div class="col-12">
            <h2 class="d-inline-block section-heading mb-4 serif"><em>Who I Am</em></h2>
        </div>
    </div>
    <div class="row mb-5" id ="contact">
        <div class="col-auto col-sm-auto col-md-10 text-center mx-auto"><img class="rounded-circle mb-4" src="/assets/images/12961195.jpeg">
            <p class="text-left">I am a video game creator and software developer who lives in Portland, Oregon, where I’m active in the indie game community. I enjoy overseeing many aspects of the creative and production process; I have worked in project management,
                writing, design, programming, visuals and more.</p>
            <p class="text-left">I am also the owner of <a href="http://www.sidegroupgames.com/" target="_blank">Side Group</a>, my video game development and publishing company.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="d-inline-block section-heading mb-4 serif"><em>Contact Me</em></h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-auto col-sm-auto col-md-10 text-center mx-auto">
            <p class="text-left">I can be contacted directly at reismahnic@gmail.com.</p>
        </div>
    </div>
{% include footer.html %}
